{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include "pages/includes/pages_menu.html" %}
<main role="main">
  <div class="container mb-4">
    {% for page in page_list|dictsort:"id" reversed %}
    <div class="list-group list-group-item list-group-item-action flex-column align-items-start ">
      {% if request.user.is_staff %}
        <a href="{% url 'pages:updated' page.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
      {% endif %}
        <div class="d-flex w-100 justify-content-between">
          <font face="Trebuchet MS"><h2 class="mb-4"><b>{{page.title}}</b></h2>
        </div>
          <p>{{page.content|striptags|safe|truncatechars:"200"}}</p>
          <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
          {% if request.user.is_staff %}
            | <a href="{% url 'pages:deleted' page.id %}">Borrar</a>
          {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
